@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--color-red: hsl(0, 100%, 74%);
	--color-green: hsl(154, 59%, 51%);
	--color-blue: hsl(248, 32%, 49%);
	--color-dark-blue: hsl(249, 10%, 26%);
	--grayish-blue: hsl(246, 25%, 77%);

	--shadow: 0 2cqi 0 hsla(0, 0%, 0%, .2);
}

img {
	width: 100%;
	display: block;
}

html {
	font-family: "Poppins", sans-serif;
	font-size: 16px;
}

a {
	text-decoration: none;
	color: var(--color-red);
}

body {
	height: 100svh;
	background-color: var(--color-red);
	background-image: url("../images/bg-intro-mobile.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.main-grid {
	display: grid;
	grid-template-rows: auto auto;
	width: 90%;
	margin: 0 auto;
}

.first-part {
	display: flex;
	flex-flow: column nowrap;
	text-align: center;
	container-type: inline-size;
}

/* Learn to code ... */
.first-part p:first-child {
	font-size: 8cqi;
	font-weight: 600;
	color: white;
}

/* See how ... */
.first-part p:nth-child(2) {
	color: white;
	font-size: 5cqi;
}

.second-part {
	container-type: inline-size;
	text-align: center;
}

/* Try it free ... */
.second-part > div:first-child {
	background-color: var(--color-blue);
	margin: 10cqi 0 6cqi 0;
	font-size: 5cqi;
	color: white;
	padding: 6cqi 15cqi;
	border-radius: .5rem;
	box-shadow: var(--shadow);
}

.second-part > div:first-child span {
	font-weight: 600;
}

form {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	gap: 3cqi;
	padding: 5cqi 0;
	background-color: white;
	border-radius: 1rem 1rem 0 0;
}

.input-frame {
	position: relative;
	width: 85cqi;
}

.input-frame img {
	position: absolute;
	width: 8cqi;
	right: 5cqi;
	top: 3cqi;
	visibility: hidden;
}

.input-frame.error small {
	visibility: visible;
}

.input-frame.error img {
	visibility: visible;
}

input {
	width: 100%;
	display: block;
	height: 15cqi;
	border-radius: .5rem;
	border: 1px solid var(--grayish-blue);
	padding-left: 5cqi;
	font-weight: 700;
}

input::placeholder {
	font-size: 4cqi;
}

/* <small> is the error message field */
form .input-frame small {
	display: block;
	font-size: 3cqi;
	visibility: hidden;
	width: 100%;
	text-align: right;
	color: red;
}

/* wrapper for claim button */
.second-part .button-claim-div {
	background-color: white;
	width: 100%;
}

/* Actual claim button */
.second-part .button-claim {
	display: grid;
	align-items: center;
	background-color: var(--color-green);
	width: 85cqi;
	height: 18cqi;
	border-radius: .5rem;
	margin: 0 auto;
	color: white;
	font-size: 5cqi;
	cursor: pointer;
}

/* By clicking ... */
.second-part > div:nth-child(4) {
	color: var(--grayish-blue);
	font-size: 3cqi;
	font-weight: 500;
	background-color: white;
	padding: 3cqi 16cqi 8cqi 16cqi;
	border-radius: 0 0 1rem 1rem;
	line-height: 6cqi;
	box-shadow: var(--shadow);
}

.attribution {
	margin-top: 1rem;
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}
